{% extends "base.html" %}
{% block title %} Home {% endblock %}

{% block content %}
<div class="container mt-5  align-items-center">
    <div class="row justify-content-center ">
      <div class="col-md-10" style="">
        <div class="card" style="height:130%">
          <div class="card-header text-center" style="background-color:#519C64;color:#DCF5E4;font-size:28px">
              Você concluiu a atualização com sucesso, obrigado! Caso seja necessário atualizar novamente, basta repetir o mesmo processo.
          </div>
          <div class="card-body ">

              <h4 class="text-center">A próxima votação será: <span style="font-weight:bold"> Dia 18/08/2023</span></h4>
              <br>
            <ul>
                <li style="font-size:25px">Horário de início: 08:00</li>
                <li style="font-size:25px">Horário de término: 17:00</li>
            </ul>
              <br>
              <br>
            <a  href="/" class="btn btn-outline-success" >Voltar para a página inicial</a>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
